<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gmail.lamelynx.godotuniversalintent">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotUniversalIntent"
            android:value="com.gmail.lamelynx.godotuniversalintent.GodotUniversalIntent" />
    </application>
</manifest>